.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  box-shadow: 0 0 13px #ddd;
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 14px;
  width: 50%;
}

.form-input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.form-button-primary {
  width: 100%;
  display: block;
  border-radius: .8rem;
  background-color: #000;
  color: #fff;
  padding: 1rem 2.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.form-button-outline {
  width: 100%;
  display: block;
  border-radius: .8rem;
  background-color: #fff;
  color: #000;
  padding: 1rem 2.5rem;
  font-weight: bold;
  font-size: 1rem;
}


.mt-sm {
  margin-top: 1rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.pb-sm {
  padding-bottom: .6rem;
}

.bmi {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 767.68px){
  .form-box {
    width: 80%;
  }
}

